$headerBgColor: red;

@font-face {
    font-family: F1;
    src: url(../fonts/Formula1-Regular-1.ttf);
}

body {
    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: red;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #690404;
    }
}

header {
    background-color: $headerBgColor;

    #logoHeader {
        width: 200px;
        height: 50px;
        margin-top: 20px !important;
        margin-bottom: 30px !important;
        margin-left: 10px !important;
    }

    .buttonHeaderUser {
        margin-top: 35px !important;
        margin-left: 92em !important;
        width: 100px;
        height: 50px;
        background-color: hsl(240, 18%, 10%);
        border: 1px solid white;
        border-radius: 5%;
        color: white;

        &:hover {
            border: 1px solid black;
            background-color: white;
            color: black;
        }
    }

    .buttonHeaderSub {
        float: right;
        margin-top: 35px !important;
        margin-right: 5px !important;
        width: 100px;
        height: 50px;
        background-color: hsl(240, 18%, 10%);
        color: white;
        border: 1px solid white;
        border-radius: 5%;

        &:hover {
            border: 1px solid black;
            background-color: white;
            color: red;
        }
    }
}


main {
    #panel {
        font-family: F1;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../../public/img/subscribebg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        width: 40%;
        height: 50%;
        z-index: 200;

        h1 {
            margin-top: 0;
            text-align: center;
            color: white;
            background: rgba(255, 0, 0, 0.7);
        }

        hr {
            border: 1px solid red;
        }

        #botones {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .opcioneSubscribe {
                color: white;
                background-color: red;
                margin: 6em 10px 10px 10px;
                width: 35%;
                height: 70px;
                border: 1px solid white;
                border-radius: 5px;

                &:hover {
                    background-color: white;
                    color: red;
                    border: 1px solid black;
                }
            }
        }

        #quitarSubs {
            position: fixed;
            right: 1%;
            bottom: 1%;
            color: white;
            background-color: red;
            border: 1px solid white;
            border-radius: 5px;
        }
    }

    #banner {
        width: 100%;
        background-color: #630e0e;

        #logoEnBanner {
            width: 20%;
            height: 20%;
            margin-bottom: 35px;
        }

        #pilotos {
            float: right;
            margin-top: -12px;
        }

        #containerNav {
            font-family: F1;
            width: 100%;
            margin-top: -4.8em;
            margin-left: 20em;
            text-align: center;

            ul {
                li {
                    padding: 10px 10px 10px 10px;

                    &:first-child {
                        border-top-left-radius: 5px;
                    }

                    &:last-child {
                        border-top-right-radius: 5px;
                    }

                    background-color: white;

                    a {
                        color: black;

                        &:hover {
                            color: red;
                        }

                    }
                }
            }
        }
    }

    #siguienteGP {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background-color: #f3f3f5;
        width: 70%;
        height: 200px;

        .row {
            #circuitoImg {
                width: 90%;
                height: 150px;
                margin-top: 20px;
                margin-left: 20px;
                border-radius: 10px;
            }

            #infoPais {
                margin-top: 20px;
                height: 150px;

                section {
                    border: 2px solid black;
                    border-top: none;
                    border-left: none;
                    border-bottom-right-radius: 5px;

                    h1 {
                        float: left;

                        #bandera {
                            width: 40%;
                            height: 25px;
                            margin-left: -52px;
                        }

                        #pais {
                            font-family: F1, serif;
                            font-size: 30px;
                            font-weight: bold;
                            margin-left: -40px;

                        }
                    }

                    p {
                        margin-top: 20px;
                        font-family: F1, serif;
                        font-size: 15px;
                    }

                    #circuito {
                        margin-left: 150px;
                        width: 15%;
                        height: 90px;
                    }
                }


            }

            #cuentaAtrasYelegir {
                width: 25%;
                height: 200px;

                section {
                    width: 50%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        position: relative;
                        width: 4em;
                        height: 80px;
                        background-color: #363333;
                        border-radius: 10px;
                        top: 15%;
                        left: 50%;
                        z-index: 2;
                        margin-bottom: 10px;

                        span {
                            font-size: 12px;
                            color: white;
                            text-align: center;
                            display: block;
                            margin-top: 8px;
                        }
                    }

                    #contador {
                        background-color: #151414;
                        width: 20em;
                        height: 160px;
                        display: flex;
                        justify-content: center;
                        border-radius: 10px;
                        box-shadow: rgba(35, 34, 35, 0.96);
                        position: relative;
                        left: 50%;

                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            li {
                                color: white;
                                font-size: 24px;
                                font-weight: bold;
                                margin-left: 5px;
                                margin-right: 5px;

                                span {
                                    color: white;
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                            }
                        }
                    }
                }


                #escogeEquipo {
                    background-color: red;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 5px 5px 5px;
                    bottom: 0;
                    position: relative;
                    top: 30%;
                    width: 100%;

                    &:hover {
                        border: 2px solid red;
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}

.container-fluid {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: hsl(240, 18%, 10%);

    hr {
        border-top: 3px solid red;
    }

    .row {
        margin-bottom: 30px;

        #logoFooter1 {
            #logoFooter2 {
                width: 90px;
                height: 20px;
                bottom: 0;
            }
        }

        #parrFooter {
            color: white;
            display: flex;
            justify-content: center;
        }

        .col-md {
            #iconos {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

#userIcon {
    width: 20px;
    float: left;
    color: red;
}

.oculto {
    display: none;
}
