@import "media";
@import "variables";
@import "header";
@import "font";


body {
    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        background: #eeeeee;
    }

    &::-webkit-scrollbar-thumb {
        background: red;
    }
}


main {
    #panel {
        font-family: F1;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../../public/img/subscribebg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        width: 40%;
        height: 50%;
        z-index: 200;

        h1 {
            margin-top: 0;
            text-align: center;
            color: white;
            background: rgba(255, 0, 0, 0.7);
        }

        hr {
            border: 1px solid red;
        }

        #botones {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .opcioneSubscribe {
                color: white;
                background-color: red;
                margin: 6em 10px 10px 10px;
                width: 35%;
                height: 70px;
                border: 1px solid white;
                border-radius: 5px;

                &:hover {
                    background-color: white;
                    color: red;
                    border: 1px solid black;
                }
            }
        }

        #quitarSubs {
            position: fixed;
            right: 1%;
            bottom: 1%;
            color: white;
            background-color: red;
            border: 1px solid white;
            border-radius: 5px;
        }

        @include responsive('small') {
            width: 80%;
            height: auto;
        }

        @include responsive('medium') {
            width: 60%;
            height: auto;
        }
    }

    #sectionBann {
        #banner {
            width: 100%;
            background-color: #630e0e;

            #imgEnBannerIzq {
                position: relative;
                left: -8.8em;
            }

            #logoEnBanner {
                width: 20%;
                height: auto;
                margin-bottom: 35px;
            }

            #pilotos {
                float: right;
                margin-top: -12px;
            }

            #containerNav {
                font-family: F1;
                width: 100%;
                margin-top: -4.8em;
                margin-left: 20em;
                text-align: center;

                ul {
                    li {
                        padding: 10px 10px 10px 10px;

                        &:first-child {
                            border-top-left-radius: 5px;
                        }

                        &:last-child {
                            border-top-right-radius: 5px;
                        }

                        background-color: white;

                        a {
                            color: black;
                            text-decoration: none;

                            &:hover {
                                color: red;
                            }

                            img {
                                width: 20%;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 576px) and (max-width: 992px) {
        #sectionBann {
            #banner {
                #imgEnBannerIzq {
                    position: relative;
                    left: -1.2em;
                }

                #logoEnBanner {
                    width: 22em; /* Ajuste el tamaño de la imagen según tus necesidades */
                }

                #containerNav {
                    width: 30%;
                    margin-left: 4em;
                    border-radius: 25%;
                    left: 50%;

                    .navbar-toggler {
                        position: relative;
                        left: 280%;
                        margin-bottom: 10px;
                    }

                    #navbarNavDropdown {
                        nav {
                            position: relative;
                            left: 190%;
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 576px) {
        #sectionBann {
            #banner {
                #imgEnBannerIzq,
                #pilotos {
                    display: none;
                }

                #logoEnBanner {
                    position: relative;
                    width: 15em;
                    top: 20px;
                }

                #containerNav {
                    width: 50%;
                    margin-left: 4em;
                    border-radius: 25%;

                    .navbar-toggler {
                        position: relative;
                        margin-bottom: 10px;
                        left: -39%;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        background-color: white;
    }

    #siguienteGP {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background-color: #f3f3f5;
        width: 100%;
        height: auto;

        .row {
            width: 100%;

            #circuitoImg {
                width: 90%;
                height: auto;
                margin-top: 20px;
                margin-left: 20px;
                border-radius: 10px;
            }

            #infoPais {
                margin-top: 20px;
                height: auto;

                section {
                    border: 2px solid black;
                    border-top: none;
                    border-left: none;
                    border-bottom-right-radius: 5px;

                    h1 {
                        float: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        #bandera {
                            width: 40px;
                            height: auto;
                        }

                        #pais {
                            font-family: F1, serif;
                            font-size: 70%;
                            font-weight: bold;
                            margin-left: 10px;
                        }
                    }

                    p {
                        margin-top: 10px;
                        font-family: F1, serif;
                        font-size: 110%;
                    }

                    button {
                        width: 50%;
                        border: none;
                        background-color: #f3f3f5;

                        #circuito {
                            margin-top: 10px;
                            width: 40%;
                            height: auto;
                            cursor: pointer;
                        }
                    }
                }

                #staticBackdrop {
                    .modal-dialog {
                        .modal-header {
                            img {
                                width: 40px;
                            }

                            span {
                                font-family: F1, serif;
                                font-size: 120%;
                                font-weight: bold;
                            }
                        }

                        .modal-body {
                            height: 63em;

                            img {
                                width: 100%;
                            }

                            #datosCircuito {
                                background-color: #d7d6d6;
                                border-radius: 5px;
                                height: auto;
                                padding: 10px;

                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;

                                    li {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 5px 0;

                                        span {
                                            margin-left: auto; // Esto asegura que el span se mueva hacia la derecha
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #cuentaAtrasYelegir {
                width: 25%;
                height: auto;

                section {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        position: relative;
                        width: auto;
                        height: auto;
                        background-color: #363333;
                        border-radius: 10px;
                        top: 15%;
                        left: 50%;
                        z-index: 2;
                        margin-bottom: 10px;
                        padding-bottom: 10px;

                        span {
                            font-size: 40%;
                            color: white;
                            text-align: center;
                            display: block;
                            margin-top: 8px;
                        }
                    }

                    #contador {
                        background-color: #151414;
                        width: 20em;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        border-radius: 10px;
                        box-shadow: rgba(35, 34, 35, 0.96);
                        position: relative;
                        left: 50%;

                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            li {
                                color: white;
                                font-size: 24%;
                                font-weight: bold;
                                margin-left: 5px;
                                margin-right: 5px;

                                span {
                                    color: white;
                                    font-size: 16%;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }

                #escogeEquipo {
                    background-color: red;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 5px 5px 5px 5px;
                    bottom: 0;
                    position: relative;
                    top: 30%;
                    width: 100%;

                    &:hover {
                        border: 2px solid red;
                        background-color: white;
                        color: black;
                    }
                }

                @media (min-width: 1000px) {
                    #infoPais section {
                        flex-direction: row;
                    }

                    section {
                        margin-top: 5px;
                        width: 110%;
                        height: auto;
                        position: relative;
                        left: -60%;

                        h2 {
                            position: relative;
                            width: auto;
                            height: auto;
                            background-color: #363333;
                            border-radius: 10px;
                            top: 15%;
                            left: 50%;
                            z-index: 2;
                            margin-bottom: 10px;
                            padding-bottom: 10px;

                            span {
                                font-size: 50%;
                                color: white;
                                text-align: center;
                                display: block;
                                margin-top: 8px;
                            }
                        }

                        #contador {
                            background-color: #151414;
                            width: 100%;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            border-radius: 10px;
                            box-shadow: rgba(35, 34, 35, 0.96);
                            position: relative;
                            left: 50%;

                            ul {
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                li {
                                    color: white;
                                    font-size: 160%;
                                    font-weight: bold;
                                    margin-left: 5px;
                                    margin-right: 5px;

                                    span {
                                        color: white;
                                        font-size: 60%;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                    #escogeEquipo {
                        background-color: red;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 5px 5px 5px;
                        bottom: 0;
                        position: relative;
                        top: 15%;
                        width: 100%;

                        &:hover {
                            border: 2px solid red;
                            background-color: white;
                            color: black;
                        }
                    }

                }
            }
        }
    }

    .fila2 {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        left: 25%;

        section {
            img {
                width: 50%;
            }
        }
    }

}


footer {
    position: fixed; /* Mantener posición fija */
    bottom: 0;
    width: 100%;
    background-color: hsl(240, 18%, 10%);
    z-index: 9999; /* Aseguramos que esté encima del contenido */
    padding: 10px 0; /* Añadimos padding para mejor espaciado */
    text-align: center; /* Centrar el texto y los elementos */

    hr {
        border-top: 3px solid red;
        margin: 10px 0;
    }

    .row {
        margin: 0; /* Eliminar margen inferior */
        align-items: center; /* Alinear elementos verticalmente al centro */

        #logoFooter1 {
            text-align: center; /* Centrar el logo */
            margin-bottom: 10px; /* Espaciado inferior en móviles */
            #logoFooter2 {
                width: 90px;
                height: auto; /* Mantener proporción del logo */
            }
        }

        #parrFooter {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px; /* Espaciado inferior en móviles */
        }

        .col-md {
            #iconos {
                display: flex;
                justify-content: center; /* Cambiar a center para móviles */
                gap: 10px; /* Añadir espacio entre los iconos */
                a {
                    display: flex;
                    align-items: center;

                    svg {
                        width: 50px; /* Ajustar tamaño de los iconos */
                        height: auto;
                    }
                }
            }
        }
    }
}

#userIcon {
    width: 20px;
    float: left;
    color: red;
}

.oculto {
    display: none;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 767px) {
    main {
        height: 80em; /* Más espacio para el footer en móviles */
    }
    footer {
        position: sticky; /* Cambiar a relative en móviles */
        text-align: center;

        .row {
            display: flex;
            flex-direction: column; /* Apilar elementos verticalmente */
            text-align: center;

            #logoFooter1,
            #parrFooter,
            .col-md {
                margin-bottom: 15px; /* Añadir espaciado inferior */
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    main {
        height: 75em;

        #siguienteGP {
            width: 100%;

            .row {
                #infoPais {
                    width: 100%;

                    section {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        h1 {
                            margin-left: 1em;

                        }

                        p {
                            margin-left: 5em;
                        }

                        button {
                            #circuito {
                                width: 40%;
                            }
                        }
                    }
                }

                #cuentaAtrasYelegir {
                    margin-top: 10px;
                    position: relative; /* Añadir posición relativa */
                    right: 25%;
                    width: 80%;
                    height: auto;

                    section {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h2 {
                            padding-bottom: 10px;

                        }

                        #contador {
                            background-color: #151414;
                            width: 60%;
                            height: 65px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            box-shadow: rgba(35, 34, 35, 0.96);

                            ul {
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 0;
                                margin: 0;

                                li {
                                    color: white;
                                    font-size: 160%;
                                    font-weight: bold;
                                    margin-left: 5px;
                                    margin-right: 5px;

                                    span {
                                        color: white;
                                        font-size: 60%;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }

                    #escogeEquipo {
                        background-color: red;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        width: 50%;
                        margin-left: 25em;

                        &:hover {
                            border: 2px solid red;
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 576px) {
    main {
        #siguienteGP {
            width: 100%;

            .row {
                #cuentaAtrasYelegir {
                    margin-top: 10px;
                    position: relative; /* Añadir posición relativa */
                    right: 25%;
                    width: 80%;
                    height: auto;

                    section h2 {
                        width: auto;
                        height: auto;
                        background-color: #363333;
                        border-radius: 10px;
                        padding-bottom: 10px;

                        span {
                            font-size: 50%;
                            color: white;
                            text-align: center;
                            display: block;
                            margin-top: 8px;
                        }
                    }

                    section {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        #contador {
                            background-color: #151414;
                            width: 120%;
                            height: 65px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 10px;
                            box-shadow: rgba(35, 34, 35, 0.96);

                            ul {
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                padding: 0;
                                margin: 0;

                                li {
                                    color: white;
                                    font-size: 160%;
                                    font-weight: bold;
                                    margin-left: 5px;
                                    margin-right: 5px;

                                    span {
                                        color: white;
                                        font-size: 60%;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }

                    #escogeEquipo {
                        margin-left: 8.5em;
                        background-color: red;
                        color: white;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        width: 100%;

                        &:hover {
                            border: 2px solid red;
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }

        .fila2 {
            position: relative;
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5px;
            top: 5%;
            left: 9%;
        }
    }
}
