@import 'app';
@import "header";
@import "variables";
@import "font";
main {
    text-align: left;

    #explicacion {
        width: 50%;
        margin: 10px auto;
        height: 60em;

        p {
            font-family: F1, serif;
        }
    }
}
