@import 'app';
@import "header";
@import "variables";
@import "font";


#constructores {
    font-family: F1, serif;
    font-weight: bolder;
    width: 67%;
    margin: 10px auto;
    height: 111em;
    box-sizing: border-box; /* Ajustamos el box-sizing para que los bordes no afecten al tamaño total */
    h1 {
        margin-bottom: 40px;
    }

    .row {
        .col-md-6 {
            border: none;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-top-right-radius: 5px;
            padding-right: 10px;
            padding-left: 10px;
            transition: border-top-width 0.3s, border-right-width 0.3s, transform 0.3s; //para hacerlo fluido

            &:hover {
                transform: translate(0px, -20px); /* Solo se aplica al pseudo-elemento */
                border-width: 2px; // Ajustar el ancho del borde al realizar un hover

            }

            #numYPuntos {
                width: 100%;
                height: 60px;
                border: none;
                border-bottom: 1px solid gray;

                #num {
                    float: left;
                    font-size: 40px;
                    font-weight: bolder;
                }

                #puntos {
                    float: right;
                    font-size: 30px;

                }
            }

            #infoEquipo {
                display: flex; /* Usa flexbox */
                align-items: center; /* Centra verticalmente los elementos */
                width: 100%;
                height: 60px;
                border: none;

                .barra {
                    width: 5px;
                    height: 30px;
                }

                .nombre {
                    text-align: left;
                    font-size: 30px;
                    margin-left: 10px; /* Margen añadido para separar el nombre de la barra */
                }

                .logo {
                    margin-left: auto; /* Mueve el logo al extremo derecho */
                    img {
                        float: right;
                        width: 60%;
                        height: auto;
                    }
                }
            }

            .pilotosEnEq {
                display: flex; /* Usa flexbox */
                justify-content: space-between; /* Distribuye los elementos de manera uniforme */
                width: 100%;

                .piloto {
                    width: 45%; /* Reducido para dejar espacio entre los elementos */
                    text-align: left; /* Centra el texto horizontalmente */
                    border: none;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    border-bottom-right-radius: 5px;
                    margin-top: 5px;

                    span {
                        margin-top: 20px;
                    }

                    img {
                        width: 20%;
                        float: right;
                    }
                }
            }

            .imgCoche {
                position: relative;
                display: flex;
                align-items: center;
                left: 15%;
            }
        }

        ///@each $num, $color in $colores {
           // .coche-#{$num}:hover {
             //   border-top-color: $color;
               // border-right-color: $color;
            //}
        //}*/
    }
}
