@import 'app';


#constructores {
    font-family: F1, serif;
    font-weight: bolder;
    width: 67%;
    margin: 10px auto;
    height: calc(100vh - 80px); /* Calculamos la altura mínima teniendo en cuenta el tamaño del footer */
    box-sizing: border-box; /* Ajustamos el box-sizing para que los bordes no afecten al tamaño total */
    .row {
        .col-md-6 {
            border: none;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-top-right-radius: 5px;
            padding-right: 10px;
            padding-left: 10px;

            #numYPuntos {
                width: 100%;
                height: 60px;
                border: none;
                border-bottom: 1px solid gray;

                #num {
                    float: left;
                    font-size: 40px;
                    font-weight: bolder;
                }

                #puntos {
                    float: right;
                    font-size: 30px;

                }
            }

            #infoEquipo {
                display: flex; /* Usa flexbox */
                align-items: center; /* Centra verticalmente los elementos */
                width: 100%;
                height: 60px;
                border: none;
                border-bottom: 1px solid gray;

                #barra {
                    background-color: blue;
                    width: 10px; /* Cambiado a un valor absoluto para la barra */
                    height: 30px;
                }

                #nombre {
                    text-align: left;
                    font-size: 30px;
                    margin-left: 10px; /* Margen añadido para separar el nombre de la barra */
                }

                #logo {
                    margin-left: auto; /* Mueve el logo al extremo derecho */
                    img {
                        float: right;
                        width: 30%;
                        height: auto;
                    }
                }
            }

            #pilotosEnEq {
                display: flex; /* Usa flexbox */
                justify-content: space-between; /* Distribuye los elementos de manera uniforme */
                width: 100%;

                .piloto {
                    width: 45%; /* Reducido para dejar espacio entre los elementos */
                    text-align: left; /* Centra el texto horizontalmente */
                    border: none;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    border-bottom-right-radius: 5px;

                    margin-top: 5px;
                }
            }

            #imgCoche {
                display: flex;
                align-items: center;
            }
        }
    }
}
