@import 'app';


#vistaDeJugadores {
    position: relative;
    width: 100%;
    height: 100em; /* Ajustamos la altura */
    font-family: F1, serif;

    .usuario-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .jugador-nombre {
            width: 10%;
            display: flex;
            align-items: center;
        }

        .jugador-elementos {
            width: 80%;
            display: flex;
            align-items: center; /* Centramos verticalmente */
            flex-wrap: wrap; /* Permitimos que los elementos se envuelvan en varias líneas */
            justify-content: space-between;

            .elemento-img {
                width: 10%; /* Modificamos el tamaño de las imágenes */
            }
        }

        .jugador-puntos {
            width: 10%;
            display: flex;
            justify-content: center;
        }
    }
}
