@import 'app';
@import "header";
@import "variables";
@import "font";

.container-fluid {
    .row {
        .columna {
            #vistaDeJugadores {
                position: relative;
                width: 100%;
                height: auto;
                padding-bottom: 100px;

                font-family: F1, serif;

                #labels {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-evenly;
                    border-bottom: 1px solid black;
                    margin: 10px 10px 10px 10px;

                    #jugador, #pilotos, #constructores, #puntos {
                        position: relative;
                    }

                    #jugador {
                        right: 15%;
                    }

                    #pilotos {
                        right: 1%;
                    }

                    #constructores {
                        left: 15%;
                    }

                    #puntos {
                        left: 8%;
                    }
                }

                .usuario-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid black;

                    .jugador-nombre {
                        width: 10%;
                        display: flex;
                        align-items: center;
                    }

                    .jugador-elementos {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        .elemento-img {
                            width: 7%;
                            background-color: #f1f0ec;
                            border-radius: 5px;
                        }
                    }

                    .jugador-puntos {
                        display: flex;
                        align-items: center;
                        left: 10%;
                    }
                }
            }
        }
    }
}

/* Media Queries para tabletas y móviles */
@media (max-width: 768px) {
    .container-fluid {
        .row {
            .columna {
                #vistaDeJugadores {
                    #labels {
                        flex-direction: row;
                        justify-content: space-between;

                        #jugador, #pilotos, #constructores, #puntos {
                            position: static;
                            margin-bottom: 10px;
                        }

                        #constructores {
                            position: relative;
                            left: -7%;
                        }
                    }

                    .usuario-container {
                        flex-direction: column;
                        align-items: center;
                        border-bottom: 1px solid black;

                        .jugador-nombre {
                            width: 100%;
                            text-align: center;
                        }

                        .jugador-puntos {
                            width: 100%;
                            text-align: center;
                        }

                        .jugador-elementos {
                            width: 100%;
                            justify-content: space-between;
                            margin: 20px 0 20px 0;

                            .elemento-img {
                                width: 12%;
                            }
                        }
                    }
                }
            }
        }
    }
}
