@import "media";

$headerBgColor: hsl(240, 18%, 10%);
$navBgColor: #403c3c;

@font-face {
    font-family: F1;
    src: url(../fonts/Formula1-Regular-1.ttf);
}

* {
    font-family: F1;
}

.row {
    header {
        background-color: $headerBgColor;
        @include responsive($small) {

        }

        #logoHeader {
            width: 200px;
            height: 50px;
            margin-top: 20px !important;
            margin-bottom: 30px !important;
            margin-left: 10px !important;
        }

        #cerrarSes {
            background-color: $headerBgColor;
            float: right;
            margin-top: -70px;
            margin-right: 10px;
            border-radius: 5px;
            border: 1px solid #808080;
            color: white;
            padding: 10px 10px 10px 10px;

            &:hover {
                background-color: white;
                color: hsl(240, 18%, 10%);
            }
        }
    }
}


nav#navbar {
    background-color: $navBgColor;
    height: 50px;

    #botones {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .boton {
            font-family: F1;
            bottom: 0;
            border-style: none;
            background-color: $navBgColor;
            color: white;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 3px solid white;
            }

            &:focus,
            &:active {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 3px solid red;
            }

            &.active {
                border-bottom: 3px solid red; /* Estilo aplicado al botón activo */
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;

    #formLog {
        margin-top: 20px;
        font-weight: bold;
        width: 50%;
        height: 150%;

        h1 {
            text-align: left;
        }

        input[type=text] {
            width: 100%;
            border-radius: 5px;
            height: 50px;

            &::placeholder {
                font-size: 15px;
            }
        }

        input[type=password] {
            width: 100%;
            border-radius: 5px;
            height: 50px;

            &::placeholder {
                font-size: 15px;
            }
        }

        .field-icon {
            float: right;
            margin-top: -37px;
            margin-right: 20px;
            position: relative;
            z-index: 2;
            cursor: pointer;

            #ojoLog {
                width: 30px;

            }
        }

        #forgetPass {
            margin-left: 20px;
            border-style: none;
            background-color: white;
            float: right;
            border-bottom: 2px solid red; // Establece solo el borde inferior y su color
            &:hover {
                color: red;
            }
        }

        #iniciarSes {
            background-color: red;
            border-style: none;
            color: white;
            border-radius: 5px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;

            &:hover {
                border: 2px solid red;
                background-color: white;
                color: black;
            }
        }

        #sinCuenta {
            margin-left: 20px;
            border-style: none;
            background-color: white;
            border-bottom: 2px solid red;

            &:hover {
                color: red;
            }
        }

    }
}


.row {
    footer {
        position: absolute;
        border: 10px solid #333333;
        bottom: 10%;
        border-top-right-radius: 20px;
        border-bottom: none;
        border-left: none;
        margin-left: 10px;
        width: 96%;
        height: 150px;

        #navFooter {
            #logoFooter {
                margin-top: 30px;
                margin-left: 20px;
                width: 130px;
                height: 30px;
                margin-right: 60em;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 13px;
                margin-left: 8px;
                margin-right: 8px;
            }

        }

        #parrFooter {
            font-size: 15px;
            float: right;
            margin-right: 10px;
        }

        #botonApoyo {
            background-color: red;
            color: white;
            border-radius: 25px;

            svg {
                fill: white;
            }
        }

        .modal-header {
            background-color: red;

            #logoModal {
                width: 80px;
                height: 20px;
                margin-right: 20px;
            }
        }

        .modal-body {
            background-color: hsl(0, 0%, 95%);
            margin: 5px 5px 5px 5px;
            border-radius: 10px;

            .btn {
                background-color: red;
                color: white;
            }
        }
    }
}


.oculto {
    display: none;
}


