@charset "UTF-8";
@import url("https://fonts.bunny.net/css?family=Nunito");
@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #eeeeee;
}
body::-webkit-scrollbar-thumb {
  background: red;
}

header {
  background-color: red;
}
header #logoHeader {
  width: 200px;
  height: 50px;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  margin-left: 10px !important;
}
header .buttonHeaderUser {
  margin-top: 35px !important;
  margin-left: 90em !important;
  width: 140px;
  height: 50px;
  background-color: hsl(240, 18%, 10%);
  border: 1px solid white;
  border-radius: 5%;
  color: white;
}
header .buttonHeaderUser:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
header .buttonHeaderSub {
  float: right;
  margin-top: 35px !important;
  margin-right: 5px !important;
  width: 100px;
  height: 50px;
  background-color: hsl(240, 18%, 10%);
  color: white;
  border: 1px solid white;
  border-radius: 5%;
}
header .buttonHeaderSub:hover {
  border: 1px solid black;
  background-color: white;
  color: red;
}

main #panel {
  font-family: F1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../public/img/subscribebg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  width: 40%;
  height: 50%;
  z-index: 200;
}
main #panel h1 {
  margin-top: 0;
  text-align: center;
  color: white;
  background: rgba(255, 0, 0, 0.7);
}
main #panel hr {
  border: 1px solid red;
}
main #panel #botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #panel #botones .opcioneSubscribe {
  color: white;
  background-color: red;
  margin: 6em 10px 10px 10px;
  width: 35%;
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
}
main #panel #botones .opcioneSubscribe:hover {
  background-color: white;
  color: red;
  border: 1px solid black;
}
main #panel #quitarSubs {
  position: fixed;
  right: 1%;
  bottom: 1%;
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 5px;
}
main #banner {
  width: 100%;
  background-color: #630e0e;
}
main #banner #logoEnBanner {
  width: 20%;
  height: 20%;
  margin-bottom: 35px;
}
main #banner #pilotos {
  float: right;
  margin-top: -12px;
}
main #banner #containerNav {
  font-family: F1;
  width: 100%;
  margin-top: -4.8em;
  margin-left: 20em;
  text-align: center;
}
main #banner #containerNav ul li {
  padding: 10px 10px 10px 10px;
  background-color: white;
}
main #banner #containerNav ul li:first-child {
  border-top-left-radius: 5px;
}
main #banner #containerNav ul li:last-child {
  border-top-right-radius: 5px;
}
main #banner #containerNav ul li a {
  color: black;
}
main #banner #containerNav ul li a:hover {
  color: red;
}
main #siguienteGP {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #f3f3f5;
  width: 70%;
  height: 200px;
}
main #siguienteGP .row #circuitoImg {
  width: 90%;
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
main #siguienteGP .row #infoPais {
  margin-top: 20px;
  height: 150px;
}
main #siguienteGP .row #infoPais section {
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
}
main #siguienteGP .row #infoPais section h1 {
  float: left;
}
main #siguienteGP .row #infoPais section h1 #bandera {
  width: 40%;
  height: 25px;
  margin-left: -52px;
}
main #siguienteGP .row #infoPais section h1 #pais {
  font-family: F1, serif;
  font-size: 27px;
  font-weight: bold;
  margin-left: -40px;
}
main #siguienteGP .row #infoPais section p {
  margin-top: 20px;
  font-family: F1, serif;
  font-size: 15px;
}
main #siguienteGP .row #infoPais section button {
  background-color: rgb(243, 243, 245);
  border: none;
}
main #siguienteGP .row #infoPais section button #circuito {
  margin-left: 200px;
  width: 33%;
  height: 90px;
  cursor: pointer;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-header img {
  width: 15%;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-header span {
  font-family: F1, serif;
  font-size: 25px;
  font-weight: bold;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body {
  height: 750px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body img {
  width: 100%;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito {
  background-color: #d7d6d6;
  border-radius: 5px;
  height: 350px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul {
  list-style: none;
  margin-left: -20px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul li {
  margin-top: 15px;
  margin-bottom: 10px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul li span {
  float: right;
  margin-right: 10px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul hr {
  margin-top: -5px;
  margin-bottom: -5px;
}
main #siguienteGP .row #cuentaAtrasYelegir {
  width: 25%;
  height: 200px;
}
main #siguienteGP .row #cuentaAtrasYelegir section {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #siguienteGP .row #cuentaAtrasYelegir section h2 {
  position: relative;
  width: 4em;
  height: 80px;
  background-color: #363333;
  border-radius: 10px;
  top: 15%;
  left: 50%;
  z-index: 2;
  margin-bottom: 10px;
}
main #siguienteGP .row #cuentaAtrasYelegir section h2 span {
  font-size: 12px;
  color: white;
  text-align: center;
  display: block;
  margin-top: 8px;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador {
  background-color: #151414;
  width: 20em;
  height: 160px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(35, 34, 35, 0.96);
  position: relative;
  left: 50%;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li span {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  position: relative;
  top: 30%;
  width: 100%;
}
main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo:hover {
  border: 2px solid red;
  background-color: white;
  color: black;
}

footer {
  position: fixed; /* Cambiamos a posición fija */
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: hsl(240, 18%, 10%);
  z-index: 9999; /* Aseguramos que esté encima del contenido */
}
footer hr {
  border-top: 3px solid red;
}
footer .row {
  margin-bottom: 30px;
}
footer .row #logoFooter1 #logoFooter2 {
  width: 90px;
  height: 20px;
  bottom: 0;
}
footer .row #parrFooter {
  color: white;
  display: flex;
  justify-content: center;
}
footer .row .col-md #iconos {
  display: flex;
  justify-content: flex-end;
}

#userIcon {
  width: 20px;
  float: left;
  color: red;
}

.oculto {
  display: none;
}

.modal-header h4 {
  font-family: F1, serif;
}

#cancelar {
  font-family: F1, serif;
  background-color: #4a5568;
  color: white;
}
#cancelar:hover {
  color: black;
  background-color: white;
  border: 2px solid #4a5568;
}

#modalInicSes {
  font-family: F1, serif;
  background-color: red;
  color: white;
}
#modalInicSes:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}

#eleccionDeEquipo {
  margin-right: 0;
  height: 500px;
}
#eleccionDeEquipo #equipo {
  margin-left: 20px;
  margin-right: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar {
  font-family: F1, serif;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value] {
  background-color: #8fe70b; /* color de fondo de la barra */
  border-radius: 10px;
  height: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value]::-webkit-progress-bar {
  background-color: #d9d9d9; /* color de fondo de la barra no completada */
  border-radius: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value]::-webkit-progress-value {
  background-color: #8fe70b;
  border-radius: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section button {
  position: relative;
  float: right;
  background-color: red;
  color: white;
  border: none;
  width: 20%;
  border-radius: 5px;
  bottom: 20px;
}
#eleccionDeEquipo #equipo #costesYContinuar section button:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar label {
  font-weight: bold;
}
#eleccionDeEquipo #costesYContinuar button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
  color: #fff;
  border: 1px solid #ccc;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto {
  height: 100px;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto #mas {
  width: 15%;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  left: 42%;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto #mas:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto .anyadirPiloto {
  text-decoration-line: underline;
  text-decoration-color: red; /* Cambia el color del subrayado a azul */
  /* Aplica  al texto */
  text-decoration-thickness: 3px;
  font-weight: bold;
}
#eleccionDeEquipo #costesYContinuar section.row .coche {
  height: 100px;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche #mas {
  width: 15%;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  left: 42%;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche #mas:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche .anyadirCoche {
  text-decoration-line: underline;
  text-decoration-color: red; /* Cambia el color del subrayado a azul */
  /* Aplica  al texto */
  text-decoration-thickness: 3px;
  font-weight: bold;
}
#eleccionDeEquipo #eleccion {
  margin-right: 15px;
  margin-left: 15px;
  font-family: F1, serif;
}
#eleccionDeEquipo #eleccion #cabecera ul {
  list-style-type: none; /* Quita el decorado de la lista */
  padding: 0;
  text-align: center; /* Centra los elementos de la lista */
}
#eleccionDeEquipo #eleccion #cabecera ul li {
  display: inline-block; /* Para que los elementos de la lista estén en línea */
}
#eleccionDeEquipo #eleccion #cabecera ul li:not(:last-child) a {
  margin-right: 15em; /* Aumenta el margen derecho para separar los elementos */
}
#eleccionDeEquipo #eleccion #cabecera ul li a {
  position: relative;
  text-decoration: none; /* Quita el subrayado del enlace */
  font-size: 1.4em; /* Aumenta el tamaño de la letra */
  font-weight: bold; /* Añade peso a la letra */
  margin: 20px 10px; /* Añade margen horizontal para separar los elementos */
  cursor: pointer;
}
#eleccionDeEquipo #eleccion #cabecera ul li a#drivers::after {
  content: "";
  border: 1px solid black;
  position: absolute;
  left: 12em;
  height: 50px;
}
#eleccionDeEquipo #eleccion #cabecera #filtrar {
  width: 100%;
  border-radius: 5px;
  border-color: black;
  background-color: #e7e7e7;
}
#eleccionDeEquipo #eleccion #cabecera #filtrar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#eleccionDeEquipo #eleccion #cabecera svg {
  position: absolute;
  right: 2em;
  top: 25.4em;
}
#eleccionDeEquipo #eleccion #cabecera svg:hover {
  cursor: pointer;
  fill: black;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor button {
  position: relative;
  left: 21%;
  background-color: #d9d9d9;
  border: none;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor span {
  margin-left: 20px;
  margin-right: 6em;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos {
  height: 340px; /* Ajusta este valor según lo que necesites */
  overflow-y: scroll;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul {
  list-style: none;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinea los elementos alrededor del espacio disponible */
  align-items: center; /* Alinea los elementos verticalmente */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li img {
  width: 8%;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .nombrePiloto {
  width: 40%; /* Ancho fijo para el nombre del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .puntosPiloto {
  width: 40%; /* Ancho fijo para los puntos del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .valorPiloto {
  width: 40%; /* Ancho fijo para el valor del mercado del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li button {
  width: 9%;
  height: 45px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #1e1d1d;
  border: 1px solid white;
  color: white;
  margin-right: 10px;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li button:hover {
  background-color: white;
  color: #1e1d1d;
  border: 1px solid #1e1d1d;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos #mensajeNoEncontrado {
  display: none;
  text-align: center;
  font-size: 30px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC button {
  position: relative;
  left: 26%;
  background-color: #d9d9d9;
  border: none;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC span {
  margin-left: 20px;
  margin-right: 6em;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches {
  height: 340px; /* Ajusta este valor según lo que necesites */
  overflow-y: scroll;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul {
  list-style: none;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinea los elementos alrededor del espacio disponible */
  align-items: center; /* Alinea los elementos verticalmente */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li img {
  width: 20%;
  margin-left: -30px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .nombreCoche {
  width: 40%; /* Ancho fijo para el nombre del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .puntosCoche {
  width: 40%; /* Ancho fijo para los puntos del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .valorCoche {
  width: 40%; /* Ancho fijo para el valor del mercado del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li button {
  width: 9%;
  height: 45px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #1e1d1d;
  border: 1px solid white;
  color: white;
  margin-right: 10px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li button:hover {
  background-color: white;
  color: #1e1d1d;
  border: 1px solid #1e1d1d;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches #mensajeNoEncontradoC {
  display: none;
  text-align: center;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgPiloto {
  border: 1px solid #f1f0ec;
  border-radius: 5px;
  background-color: #f1f0ec;
  width: 30%;
  height: auto;
}

.imgConstructor {
  border: 1px solid #f1f0ec;
  border-radius: 5px;
  background-color: #f1f0ec;
  width: 60%;
  height: auto;
}

.activo {
  color: red;
}

.oculto {
  display: none;
}

/*# sourceMappingURL=miEquipo.css.map */
