@import 'app';


.modal-header {
    h4 {
        font-family: F1, serif;
    }
}

#cancelar {
    font-family: F1, serif;
    background-color: #4a5568;
    color: white;

    &:hover {
        color: black;
        background-color: white;
        border: 2px solid #4a5568;
    }
}

#modalInicSes {
    font-family: F1, serif;
    background-color: red;
    color: white;

    &:hover {
        color: black;
        background-color: white;
        border: 2px solid red;
    }
}

#eleccionDeEquipo {
    #equipo {
        border: 1px solid black;
        height: 500px;
        margin-left: 20px;
        margin-right: 10px;

        #costesYContinuar {
            font-family: F1, serif;

            section {
                progress[value] {
                    background-color: #8fe70b; /* color de fondo de la barra */
                    border-radius: 10px;
                    height: 10px;
                }

                progress[value]::-webkit-progress-bar {
                    background-color: #d9d9d9; /* color de fondo de la barra no completada */
                    border-radius: 10px;
                }

                progress[value]::-webkit-progress-value {
                    background-color: #8fe70b;
                    border-radius: 10px;
                }

                button {
                    position: relative;
                    float: right;
                    background-color: red;
                    color: white;
                    border: none;
                    width: 12%;
                    border-radius: 5px;
                    bottom: 20px;

                    &:hover {
                        color: black;
                        background-color: white;
                        border: 2px solid red;
                    }
                }
            }


        }
    }

    #costesYContinuar {
        section.row {
            .piloto {
                height: 100px;

                .campoPiloto {
                    #mas {
                        width: 15%;
                        border: 1px solid red;
                        background-color: red;
                        color: white;
                        margin-top: 10px;
                        border-radius: 5px;
                        font-size: 25px;
                        cursor: pointer;
                        position: relative;
                        left: 42%;

                        &:hover {
                            color: black;
                            background-color: white;
                            border: 2px solid red;
                        }
                    }

                    .anyadirPiloto {
                        text-decoration-line: underline;
                        text-decoration-color: red; /* Cambia el color del subrayado a azul */
                        /* Aplica  al texto */
                        text-decoration-thickness: 3px;
                        font-weight: bold;
                    }

                }
            }
        }
    }

    #eleccion {
        border: 1px solid red;
        height: 500px;
        margin-right: 15px;
        margin-left: 15px;

    }
}
