@charset "UTF-8";
header {
  background-color: red;
  height: 7em;
}
header #logoHeader {
  width: 15%;
}
header .buttonHeaderUser, header .buttonHeaderSub {
  font-family: F1, serif;
  width: auto;
  height: 50px;
  background-color: hsl(240, 18%, 10%);
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  text-align: center;
}
header .buttonHeaderUser:hover, header .buttonHeaderSub:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
header .buttonHeaderSub {
  width: 120px;
}
header .buttonHeaderSub:hover {
  border: 1px solid black;
  background-color: white;
  color: red;
}

@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
#panel {
  font-family: F1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../public/img/subscribebg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  width: 40%;
  height: 50%;
  z-index: 200;
}
#panel h1 {
  margin-top: 0;
  text-align: center;
  color: white;
  background: rgba(255, 0, 0, 0.7);
}
#panel hr {
  border: 1px solid red;
}
#panel #botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#panel #botones .opcioneSubscribe {
  color: white;
  background-color: red;
  margin: 6em 10px 10px 10px;
  width: 35%;
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
}
#panel #botones .opcioneSubscribe:hover {
  background-color: white;
  color: red;
  border: 1px solid black;
}
#panel #quitarSubs {
  position: fixed;
  right: 1%;
  bottom: 1%;
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 5px;
}
@media (max-width: 575px) {
  #panel {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #panel {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #panel {
    width: 80%;
    height: auto10em;
  }
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #eeeeee;
}
body::-webkit-scrollbar-thumb {
  background: red;
}

main #sectionBann #banner {
  width: 100%;
  background-color: #630e0e;
}
main #sectionBann #banner #imgEnBannerIzq {
  position: relative;
  left: -8.8em;
}
main #sectionBann #banner #logoEnBanner {
  width: 20%;
  height: auto;
  margin-bottom: 35px;
}
main #sectionBann #banner #pilotos {
  float: right;
  margin-top: -12px;
}
main #sectionBann #banner #containerNav {
  font-family: F1;
  width: 100%;
  margin-top: -4.8em;
  margin-left: 20em;
  text-align: center;
}
main #sectionBann #banner #containerNav ul li {
  padding: 10px 10px 10px 10px;
  background-color: white;
}
main #sectionBann #banner #containerNav ul li:first-child {
  border-top-left-radius: 5px;
}
main #sectionBann #banner #containerNav ul li:last-child {
  border-top-right-radius: 5px;
}
main #sectionBann #banner #containerNav ul li a {
  color: black;
  text-decoration: none;
}
main #sectionBann #banner #containerNav ul li a:hover {
  color: red;
}
main #sectionBann #banner #containerNav ul li a img {
  width: 20%;
  height: auto;
}
@media (min-width: 576px) and (max-width: 992px) {
  main #sectionBann #banner #imgEnBannerIzq {
    position: relative;
    left: -1.2em;
  }
  main #sectionBann #banner #logoEnBanner {
    width: 22em; /* Ajuste el tamaño de la imagen según tus necesidades */
  }
  main #sectionBann #banner #containerNav {
    width: 30%;
    margin-left: 4em;
    border-radius: 25%;
    left: 50%;
  }
  main #sectionBann #banner #containerNav .navbar-toggler {
    position: relative;
    left: 280%;
    margin-bottom: 10px;
  }
  main #sectionBann #banner #containerNav #navbarNavDropdown nav {
    position: relative;
    left: 190%;
  }
}
@media (max-width: 576px) {
  main #sectionBann #banner #imgEnBannerIzq,
  main #sectionBann #banner #pilotos {
    display: none;
  }
  main #sectionBann #banner #logoEnBanner {
    position: relative;
    width: 15em;
    top: 20px;
  }
  main #sectionBann #banner #containerNav {
    width: 50%;
    margin-left: 4em;
    border-radius: 25%;
  }
  main #sectionBann #banner #containerNav .navbar-toggler {
    position: relative;
    margin-bottom: 10px;
    left: -39%;
  }
}
main .navbar-toggler {
  background-color: white;
}
main #siguienteGP {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #f3f3f5;
  width: 100%;
  height: auto;
}
main #siguienteGP .row {
  width: 100%;
}
main #siguienteGP .row #circuitoImg {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
main #siguienteGP .row #infoPais {
  margin-top: 20px;
  height: auto;
}
main #siguienteGP .row #infoPais section {
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
}
main #siguienteGP .row #infoPais section h1 {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #siguienteGP .row #infoPais section h1 #bandera {
  width: 40px;
  height: auto;
}
main #siguienteGP .row #infoPais section h1 #pais {
  font-family: F1, serif;
  font-size: 70%;
  font-weight: bold;
  margin-left: 10px;
}
main #siguienteGP .row #infoPais section p {
  margin-top: 10px;
  font-family: F1, serif;
  font-size: 110%;
}
main #siguienteGP .row #infoPais section button {
  width: 50%;
  border: none;
  background-color: #f3f3f5;
}
main #siguienteGP .row #infoPais section button #circuito {
  margin-top: 10px;
  width: 40%;
  height: auto;
  cursor: pointer;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-header img {
  width: 40px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-header span {
  font-family: F1, serif;
  font-size: 120%;
  font-weight: bold;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body {
  height: 63em;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body img {
  width: 100%;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito {
  background-color: #d7d6d6;
  border-radius: 5px;
  height: auto;
  padding: 10px;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
main #siguienteGP .row #infoPais #staticBackdrop .modal-dialog .modal-body #datosCircuito ul li span {
  margin-left: auto;
}
main #siguienteGP .row #cuentaAtrasYelegir {
  width: 25%;
  height: auto;
}
main #siguienteGP .row #cuentaAtrasYelegir section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #siguienteGP .row #cuentaAtrasYelegir section h2 {
  position: relative;
  width: auto;
  height: auto;
  background-color: #363333;
  border-radius: 10px;
  top: 15%;
  left: 50%;
  z-index: 2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
main #siguienteGP .row #cuentaAtrasYelegir section h2 span {
  font-size: 40%;
  color: white;
  text-align: center;
  display: block;
  margin-top: 8px;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador {
  background-color: #151414;
  width: 20em;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(35, 34, 35, 0.96);
  position: relative;
  left: 50%;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li {
  color: white;
  font-size: 24%;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li span {
  color: white;
  font-size: 16%;
  font-weight: bold;
}
main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  bottom: 0;
  position: relative;
  top: 30%;
  width: 100%;
}
main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo:hover {
  border: 2px solid red;
  background-color: white;
  color: black;
}
@media (min-width: 1000px) {
  main #siguienteGP .row #cuentaAtrasYelegir #infoPais section {
    flex-direction: row;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section {
    margin-top: 5px;
    width: 110%;
    height: auto;
    position: relative;
    left: -60%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section h2 {
    position: relative;
    width: auto;
    height: auto;
    background-color: #363333;
    border-radius: 10px;
    top: 15%;
    left: 50%;
    z-index: 2;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section h2 span {
    font-size: 50%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador {
    background-color: #151414;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(35, 34, 35, 0.96);
    position: relative;
    left: 50%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li {
    color: white;
    font-size: 160%;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li span {
    color: white;
    font-size: 60%;
    font-weight: bold;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    bottom: 0;
    position: relative;
    top: 15%;
    width: 100%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo:hover {
    border: 2px solid red;
    background-color: white;
    color: black;
  }
}
main .fila2 {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  left: 25%;
}
main .fila2 section img {
  width: 50%;
}

footer {
  position: fixed; /* Mantener posición fija */
  bottom: 0;
  width: 100%;
  background-color: hsl(240, 18%, 10%);
  z-index: 9999; /* Aseguramos que esté encima del contenido */
  padding: 10px 0; /* Añadimos padding para mejor espaciado */
  text-align: center; /* Centrar el texto y los elementos */
}
footer hr {
  border-top: 3px solid red;
  margin: 10px 0;
}
footer .row {
  margin: 0; /* Eliminar margen inferior */
  align-items: center; /* Alinear elementos verticalmente al centro */
}
footer .row #logoFooter1 {
  text-align: center; /* Centrar el logo */
  margin-bottom: 10px; /* Espaciado inferior en móviles */
}
footer .row #logoFooter1 #logoFooter2 {
  width: 90px;
  height: auto; /* Mantener proporción del logo */
}
footer .row #parrFooter {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espaciado inferior en móviles */
}
footer .row .col-md #iconos {
  display: flex;
  justify-content: center; /* Cambiar a center para móviles */
  gap: 10px; /* Añadir espacio entre los iconos */
}
footer .row .col-md #iconos a {
  display: flex;
  align-items: center;
}
footer .row .col-md #iconos a svg {
  width: 50px; /* Ajustar tamaño de los iconos */
  height: auto;
}

#userIcon {
  width: 20px;
  float: left;
  color: red;
}

.oculto {
  display: none;
}

@media (max-width: 767px) {
  main {
    height: 80em;
  }
  footer {
    position: sticky;
    text-align: center;
  }
  footer .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .row #logoFooter1,
  footer .row #parrFooter,
  footer .row .col-md {
    margin-bottom: 15px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  main {
    height: 75em;
  }
  main #siguienteGP {
    width: 100%;
  }
  main #siguienteGP .row #infoPais {
    width: 100%;
  }
  main #siguienteGP .row #infoPais section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main #siguienteGP .row #infoPais section h1 {
    margin-left: 1em;
  }
  main #siguienteGP .row #infoPais section p {
    margin-left: 5em;
  }
  main #siguienteGP .row #infoPais section button #circuito {
    width: 40%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir {
    margin-top: 10px;
    position: relative; /* Añadir posición relativa */
    right: 25%;
    width: 80%;
    height: auto;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section h2 {
    padding-bottom: 10px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador {
    background-color: #151414;
    width: 60%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(35, 34, 35, 0.96);
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li {
    color: white;
    font-size: 160%;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li span {
    color: white;
    font-size: 60%;
    font-weight: bold;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo {
    position: absolute;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 2em;
    top: 100%;
    left: 72%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo:hover {
    border: 2px solid red;
    background-color: white;
    color: black;
  }
  main #colaboración {
    position: relative;
    top: 5%;
  }
}
@media (max-width: 576px) {
  main #siguienteGP {
    width: 100%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir {
    margin-top: 10px;
    position: relative; /* Añadir posición relativa */
    right: 25%;
    width: 80%;
    height: auto;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section h2 {
    width: auto;
    height: auto;
    background-color: #363333;
    border-radius: 10px;
    padding-bottom: 10px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section h2 span {
    font-size: 50%;
    color: white;
    text-align: center;
    display: block;
    margin-top: 8px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador {
    background-color: #151414;
    width: 120%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(35, 34, 35, 0.96);
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li {
    color: white;
    font-size: 160%;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }
  main #siguienteGP .row #cuentaAtrasYelegir section #contador ul li span {
    color: white;
    font-size: 60%;
    font-weight: bold;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo {
    margin-left: 8.5em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
  main #siguienteGP .row #cuentaAtrasYelegir #escogeEquipo:hover {
    border: 2px solid red;
    background-color: white;
    color: black;
  }
  main .fila2 {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    top: 5%;
    left: 9%;
  }
}
header {
  background-color: red;
  height: 7em;
}
header #logoHeader {
  width: 15%;
}
header .buttonHeaderUser, header .buttonHeaderSub {
  font-family: F1, serif;
  width: auto;
  height: 50px;
  background-color: hsl(240, 18%, 10%);
  border: 1px solid white;
  border-radius: 5%;
  color: white;
  text-align: center;
}
header .buttonHeaderUser:hover, header .buttonHeaderSub:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
header .buttonHeaderSub {
  width: 120px;
}
header .buttonHeaderSub:hover {
  border: 1px solid black;
  background-color: white;
  color: red;
}

@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
.modal-header h4 {
  font-family: F1, serif;
}

#cancelar {
  font-family: F1, serif;
  background-color: #4a5568;
  color: white;
}
#cancelar:hover {
  color: black;
  background-color: white;
  border: 2px solid #4a5568;
}

#modalInicSes {
  font-family: F1, serif;
  background-color: red;
  color: white;
}
#modalInicSes:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}

#eleccionDeEquipo {
  margin-right: 0;
  height: 500px;
}
#eleccionDeEquipo #equipo {
  margin-left: 20px;
  margin-right: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar {
  font-family: F1, serif;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value] {
  background-color: #8fe70b; /* color de fondo de la barra */
  border-radius: 10px;
  height: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value]::-webkit-progress-bar {
  background-color: #d9d9d9; /* color de fondo de la barra no completada */
  border-radius: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section progress[value]::-webkit-progress-value {
  background-color: #8fe70b;
  border-radius: 10px;
}
#eleccionDeEquipo #equipo #costesYContinuar section #guardarEquipo {
  position: relative;
  float: right;
  background-color: red;
  color: white;
  border: none;
  width: 20%;
  height: auto;
  border-radius: 5px;
  bottom: 2em;
  font-size: 100%;
}
#eleccionDeEquipo #equipo #costesYContinuar section #guardarEquipo:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar label {
  font-weight: bold;
}
#eleccionDeEquipo #costesYContinuar #guardarEquipo:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.5;
  color: #fff;
  border: 1px solid #ccc;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto {
  height: 100px;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto #mas {
  width: 15%;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 175%;
  cursor: pointer;
  position: relative;
  left: 42%;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto #mas:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar section.row .piloto .campoPiloto .anyadirPiloto {
  text-decoration-line: underline;
  text-decoration-color: red; /* Cambia el color del subrayado a azul */
  /* Aplica  al texto */
  text-decoration-thickness: 3px;
  font-weight: bold;
}
#eleccionDeEquipo #costesYContinuar section.row .coche {
  height: 100px;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche #mas {
  width: 15%;
  border: 1px solid red;
  background-color: red;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 175%;
  cursor: pointer;
  position: relative;
  left: 42%;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche #mas:hover {
  color: black;
  background-color: white;
  border: 2px solid red;
}
#eleccionDeEquipo #costesYContinuar section.row .coche .campoCoche .anyadirCoche {
  text-decoration-line: underline;
  text-decoration-color: red; /* Cambia el color del subrayado a azul */
  /* Aplica  al texto */
  text-decoration-thickness: 3px;
  font-weight: bold;
}
#eleccionDeEquipo #eleccion {
  margin-right: 15px;
  margin-left: 15px;
  font-family: F1, serif;
}
#eleccionDeEquipo #eleccion #cabecera ul {
  list-style-type: none; /* Quita el decorado de la lista */
  padding: 0;
  text-align: center; /* Centra los elementos de la lista */
}
#eleccionDeEquipo #eleccion #cabecera ul li {
  display: inline-block; /* Para que los elementos de la lista estén en línea */
}
#eleccionDeEquipo #eleccion #cabecera ul li:not(:last-child) a {
  margin-right: 15em; /* Aumenta el margen derecho para separar los elementos */
}
#eleccionDeEquipo #eleccion #cabecera ul li a {
  position: relative;
  text-decoration: none; /* Quita el subrayado del enlace */
  font-size: 150%; /* Aumenta el tamaño de la letra */
  font-weight: bold; /* Añade peso a la letra */
  margin: 20px 10px; /* Añade margen horizontal para separar los elementos */
  cursor: pointer;
}
#eleccionDeEquipo #eleccion #cabecera ul li a#drivers::after {
  content: "";
  border: 1px solid black;
  position: absolute;
  left: 12em;
  height: 50px;
}
#eleccionDeEquipo #eleccion #cabecera ul li a button {
  border: none;
  background-color: white;
}
#eleccionDeEquipo #eleccion #cabecera ul li a button:hover {
  color: red;
}
#eleccionDeEquipo #eleccion #cabecera #filtrar {
  width: 100%;
  border-radius: 5px;
  border-color: black;
  background-color: #e7e7e7;
}
#eleccionDeEquipo #eleccion #cabecera #filtrar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
#eleccionDeEquipo #eleccion #cabecera svg {
  position: absolute;
  right: 2em;
  top: 25.4em;
}
#eleccionDeEquipo #eleccion #cabecera svg:hover {
  cursor: pointer;
  fill: black;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor button {
  position: relative;
  left: 21%;
  background-color: #d9d9d9;
  border: none;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor span {
  margin-left: 20px;
  margin-right: 6em;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos {
  height: 340px; /* Ajusta este valor según lo que necesites */
  overflow-y: scroll;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul {
  list-style: none;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinea los elementos alrededor del espacio disponible */
  align-items: center; /* Alinea los elementos verticalmente */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li img {
  width: 8%;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .nombrePiloto {
  width: 40%; /* Ancho fijo para el nombre del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .puntosPiloto {
  width: 40%; /* Ancho fijo para los puntos del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .valorPiloto {
  width: 40%; /* Ancho fijo para el valor del mercado del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li button {
  width: 9%;
  height: 45px;
  font-size: 150%;
  border-radius: 5px;
  background-color: #1e1d1d;
  border: 1px solid white;
  color: white;
  margin-right: 10px;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li button:hover {
  background-color: white;
  color: #1e1d1d;
  border: 1px solid #1e1d1d;
}
#eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos #mensajeNoEncontrado {
  display: none;
  text-align: center;
  font-size: 220%;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC {
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 15px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC button {
  position: relative;
  left: 26%;
  background-color: #d9d9d9;
  border: none;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC span {
  margin-left: 20px;
  margin-right: 6em;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches {
  height: 340px; /* Ajusta este valor según lo que necesites */
  overflow-y: scroll;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul {
  list-style: none;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Alinea los elementos alrededor del espacio disponible */
  align-items: center; /* Alinea los elementos verticalmente */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li img {
  width: 20%;
  margin-left: -30px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .nombreCoche {
  width: 40%; /* Ancho fijo para el nombre del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .puntosCoche {
  width: 40%; /* Ancho fijo para los puntos del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .valorCoche {
  width: 40%; /* Ancho fijo para el valor del mercado del piloto */
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li button {
  width: 9%;
  height: 45px;
  font-size: 175%;
  border-radius: 5px;
  background-color: #1e1d1d;
  border: 1px solid white;
  color: white;
  margin-right: 10px;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li button:hover {
  background-color: white;
  color: #1e1d1d;
  border: 1px solid #1e1d1d;
}
#eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches #mensajeNoEncontradoC {
  display: none;
  text-align: center;
  font-size: 220%;
}

@media (min-width: 576px) and (max-width: 992px) {
  main {
    height: 82em;
  }
  main #eleccionDeEquipo #equipo #costesYContinuar section #formGuardarEquipo button {
    margin-top: 10px;
    width: 30%;
  }
  main #eleccionDeEquipo #eleccion #cabecera svg {
    position: absolute;
    top: 85%;
  }
}
@media (max-width: 576px) {
  #eleccionDeEquipo #equipo #costesYContinuar section #formGuardarEquipo button {
    margin-top: 10px;
    width: 50%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar hr {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .piloto {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .piloto .campoPiloto {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .piloto .campoPiloto img {
    width: 140%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .piloto .campoPiloto #mas {
    width: 75%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .piloto .campoPiloto .anyadirPiloto {
    width: 160%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .coche {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .coche .campoCoche {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .coche .campoCoche img {
    width: 100%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .coche .campoCoche #mas {
    width: 35%;
  }
  #eleccionDeEquipo #equipo #costesYContinuar section .coche .campoCoche .anyadirCoche {
    width: 110%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor {
    height: 2em;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor #ordenarPorPuntos {
    position: absolute;
    left: 40%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #ordenarPor #ordenarPorValor {
    position: absolute;
    left: 75%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul {
    padding: 0;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li img {
    width: 17%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDePilotos #listaDePilotos ul li .pilotoElegir {
    width: 20%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC {
    height: 2em;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC #ordenarPorPuntosC {
    position: relative;
    left: 10%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #ordenarPorC #ordenarPorValorC {
    position: absolute;
    left: 70%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul {
    padding: 0;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li img {
    width: 25%;
  }
  #eleccionDeEquipo #eleccion #cuerpoDeCoches #listaDeCoches ul li .cocheElegir {
    width: 20%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.imgPiloto {
  border: 1px solid #f1f0ec;
  border-radius: 5px;
  background-color: #f1f0ec;
  width: 30%;
  height: auto;
}

.imgConstructor {
  border: 1px solid #f1f0ec;
  border-radius: 5px;
  background-color: #f1f0ec;
  width: 60%;
  height: auto;
}

.activo {
  color: red;
}

.oculto {
  display: none;
}

/*# sourceMappingURL=miEquipo.css.map */
