@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
* {
  font-family: F1;
}

header {
  background-color: hsl(240, 18%, 10%);
}
header #logoHeader {
  width: 30%;
  height: auto;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
header #eliminarUser, header #cerrarSes {
  background-color: hsl(240, 18%, 10%);
  border-radius: 5px;
  border: 1px solid #808080;
  color: white;
  padding: 10px;
}
header #eliminarUser:hover, header #cerrarSes:hover {
  background-color: white;
  color: hsl(240, 18%, 10%);
}

nav#navbar {
  background-color: #403c3c;
}
nav#navbar #botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav#navbar #botones .boton {
  font-family: F1;
  border-style: none;
  background-color: #403c3c;
  color: white;
  margin: 10px;
  text-decoration: none;
}
nav#navbar #botones .boton:hover {
  border-bottom: 3px solid white;
}
nav#navbar #botones .boton:focus, nav#navbar #botones .boton:active, nav#navbar #botones .boton.active {
  border-bottom: 3px solid red;
}

main {
  display: flex;
  justify-content: center;
}
main #formLog {
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 600px;
}
main #formLog h1 {
  text-align: left;
}
main #formLog input[type=text], main #formLog input[type=password] {
  width: 100%;
  border-radius: 5px;
  height: 50px;
}
main #formLog input[type=text]::placeholder, main #formLog input[type=password]::placeholder {
  font-size: 15px;
}
main #formLog .field-icon {
  cursor: pointer;
}
main #formLog .field-icon img {
  width: 30px;
}
main #formLog #forgetPass, main #formLog #sinCuenta {
  border-style: none;
  background-color: white;
  padding: 0;
  border-bottom: 2px solid red;
  text-decoration: none;
  color: black;
}
main #formLog #forgetPass:hover, main #formLog #sinCuenta:hover {
  color: red;
}
main #formLog #iniciarSes {
  background-color: red;
  border-style: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
main #formLog #iniciarSes:hover {
  border: 2px solid red;
  background-color: white;
  color: black;
}

footer {
  position: absolute;
  bottom: 40px;
  width: 96%;
  height: 150px;
  border: 10px solid hsl(240, 18%, 10%);
  border-bottom: none;
  border-left: none;
  background-color: white;
  border-top-right-radius: 20px;
}
footer #navFooter #logoFooter {
  margin: 30px 0 0 20px;
  width: 130px;
  height: 30px;
}
footer #navFooter a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin: 0 8px;
}
footer #parrFooter {
  font-size: 15px;
  float: right;
  margin-right: 10px;
}
footer #botonApoyo {
  background-color: red;
  color: white;
  border-radius: 25px;
}
footer #botonApoyo svg {
  fill: white;
}
footer .modal-header {
  background-color: red;
}
footer .modal-header #logoModal {
  width: 80px;
  height: 20px;
  margin-right: 20px;
}
footer .modal-body {
  background-color: hsl(0, 0%, 95%);
  margin: 5px;
  border-radius: 10px;
}
footer .modal-body .btn {
  background-color: red;
  color: white;
}

.oculto {
  display: none;
}

@font-face {
  font-family: F1;
  src: url(../fonts/Formula1-Regular-1.ttf);
}
* {
  font-family: F1;
}

header {
  background-color: hsl(240, 18%, 10%);
}
header #logoHeader {
  width: 30%;
  height: auto;
}
header #eliminarUser, header #cerrarSes {
  background-color: hsl(240, 18%, 10%);
  border-radius: 5px;
  border: 1px solid #808080;
  color: white;
  padding: 10px;
}
header #eliminarUser:hover, header #cerrarSes:hover {
  background-color: white;
  color: hsl(240, 18%, 10%);
}

nav#navbar {
  background-color: #403c3c;
}
nav#navbar #botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav#navbar #botones .boton {
  font-family: F1;
  border-style: none;
  background-color: #403c3c;
  color: white;
  margin: 10px;
}
nav#navbar #botones .boton:hover {
  border-bottom: 3px solid white;
}
nav#navbar #botones .boton:focus, nav#navbar #botones .boton:active, nav#navbar #botones .boton.active {
  border-bottom: 3px solid red;
}

main {
  display: flex;
  justify-content: center;
}
main #formReg {
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
  max-width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
main #formReg h1 {
  text-align: left;
}
main #formReg input[type=text], main #formReg input[type=email], main #formReg input[type=password] {
  width: 100%;
  border-radius: 5px;
  height: 50px;
}
main #formReg input[type=text]::placeholder, main #formReg input[type=email]::placeholder, main #formReg input[type=password]::placeholder {
  font-size: 15px;
}
main #formReg .field-icon {
  cursor: pointer;
}
main #formReg .field-icon img {
  width: 30px;
}
main #formReg #crearCuentaReg {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
main #formReg #crearCuentaReg:hover {
  border: 2px solid red;
  background-color: white;
  color: black;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 96%;
  height: 150px;
  border: 10px solid hsl(240, 18%, 10%);
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 20px;
  background-color: white;
}
footer #navFooter #logoFooter {
  margin: 30px 0 0 20px;
  width: 130px;
  height: 30px;
}
footer #navFooter a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  margin: 0 8px;
}
footer #parrFooter {
  font-size: 15px;
  float: right;
  margin-right: 10px;
}
footer #botonApoyo {
  background-color: red;
  color: white;
  border-radius: 25px;
}
footer #botonApoyo svg {
  fill: white;
}
footer .modal-header {
  background-color: red;
}
footer .modal-header #logoModal {
  width: 80px;
  height: 20px;
  margin-right: 20px;
}
footer .modal-body {
  background-color: hsl(0, 0%, 95%);
  margin: 5px;
  border-radius: 10px;
}
footer .modal-body .btn {
  background-color: red;
  color: white;
}

.oculto {
  display: none;
}

/*# sourceMappingURL=registrar.css.map */
