@import "login";
@import "variables";
@import "font";
//styles for the register screen
* {
    font-family: F1;
}

header {
    background-color: $headerBgColor;

    #logoHeader {
        width: 30%;
        height: auto;
    }

    #eliminarUser, #cerrarSes {
        background-color: $headerBgColor;
        border-radius: 5px;
        border: 1px solid #808080;
        color: white;
        padding: 10px;

        &:hover {
            background-color: white;
            color: hsl(240, 18%, 10%);
        }
    }
}

nav#navbar {
    background-color: $navBgColor;

    #botones {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .boton {
            font-family: F1;
            border-style: none;
            background-color: $navBgColor;
            color: white;
            margin: 10px;

            &:hover {
                border-bottom: 3px solid white;
            }

            &:focus, &:active, &.active {
                border-bottom: 3px solid red;
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;

    #formReg {
        margin-top: 20px;
        font-weight: bold;
        width: 100%;
        max-width: 600px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;

        h1 {
            text-align: left;
        }

        input[type=text], input[type=email], input[type=password] {
            width: 100%;
            border-radius: 5px;
            height: 50px;

            &::placeholder {
                font-size: 100%;
            }
        }

        .field-icon {
            cursor: pointer;

            img {
                width: 30px;
            }
        }

        #crearCuentaReg {
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px;

            &:hover {
                border: 2px solid red;
                background-color: white;
                color: black;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 10px;
    width: 96%;
    height: 150px;
    border: 10px solid hsl(240, 18%, 10%);
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 20px;
    background-color: white;

    #navFooter {
        #logoFooter {
            margin: 30px 0 0 20px;
            width: 130px;
            height: 30px;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 100%;
            margin: 0 8px;
        }
    }

    #parrFooter {
        font-size: 100%;
        float: right;
        margin-right: 10px;
    }

    #botonApoyo {
        background-color: red;
        color: white;
        border-radius: 25px;

        svg {
            fill: white;
        }
    }

    .modal-header {
        background-color: red;

        #logoModal {
            width: 80px;
            height: 20px;
            margin-right: 20px;
        }
    }

    .modal-body {
        background-color: hsl(0, 0%, 95%);
        margin: 5px;
        border-radius: 10px;

        .btn {
            background-color: red;
            color: white;
        }
    }
}

@media (max-width: 576px) {
    main {
        min-height: calc(75vh - 4em); /* Asegura que el contenido principal tenga al menos 4em menos que el alto de la ventana */
    }
    footer {
        position: relative; /* Fija el footer en la parte inferior de la ventana */
        bottom: 20%;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    main {
        height: calc(85vh - 4em);
    }
    footer {
        position: relative;
        bottom: 0;
    }
}

.oculto {
    display: none;
}
